

h1{
color: green;
font-size: 72px;
text-decoration: underline;
text-align: center;
border: 1px solid rgb(0, 0, 0, 1.0);
}
p{
	color: white;
	background-color: black;
	text-align: center;
}
h3{
	text-decoration: underline;
	font-weight: bolder;
	font-size: 28px;
}